version: "3.8"

services:
  db:
    image: mariadb:10.6
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: admin
    volumes:
      - db-data:/var/lib/mysql

  redis-cache:
    image: redis:7-alpine

  redis-queue:
    image: redis:7-alpine

  redis-socketio:
    image: redis:7-alpine

  backend:
    image: frappe/erpnext:version-15
    depends_on:
      - db
      - redis-cache
      - redis-queue
      - redis-socketio
    volumes:
      - sites:/home/frappe/frappe-bench/sites

  frontend:
    image: frappe/erpnext:version-15
    command: nginx-entrypoint.sh
    depends_on:
      - backend
      - websocket
    ports:
      - "80:80"
    environment:
      BACKEND: backend:8000
      SOCKETIO: websocket:9000
      FRAPPE_SITE_NAME_HEADER: $$host
    volumes:
      - sites:/home/frappe/frappe-bench/sites

  websocket:
    image: frappe/erpnext:version-15
    command: node /home/frappe/frappe-bench/apps/frappe/socketio.js
    depends_on:
      - backend
    volumes:
      - sites:/home/frappe/frappe-bench/sites

  queue-short:
    image: frappe/erpnext:version-15
    command: bench worker --queue short,default
    depends_on:
      - backend
    volumes:
      - sites:/home/frappe/frappe-bench/sites

  queue-long:
    image: frappe/erpnext:version-15
    command: bench worker --queue long,default,short
    depends_on:
      - backend
    volumes:
      - sites:/home/frappe/frappe-bench/sites

  scheduler:
    image: frappe/erpnext:version-15
    command: bench schedule
    depends_on:
      - backend
    volumes:
      - sites:/home/frappe/frappe-bench/sites

  create-site:
    image: frappe/erpnext:version-15
    depends_on:
      - db
      - redis-cache
      - redis-queue
      - redis-socketio
    volumes:
      - sites:/home/frappe/frappe-bench/sites
    entrypoint: >
      bash -c "
      wait-for-it db:3306 -t 120 &&
      bench new-site frontend.localhost
      --admin-password admin
      --db-root-password admin
      --install-app erpnext
      "

volumes:
  sites:
  db-data:
